@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --focus: #9c6a7b;
    --break: #637c8e;
    --white: #f8f9fa;
}

#app {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
