@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --focus: #9c6a7b;
    --break: #637c8e;
    --white: #f8f9fa;
}

#app {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
